main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.home-container {
    margin-top: 15em;
}

main h1 {
    margin-bottom: 1em;
    font-size: 2.5em;
}

main h1 small{
    font-size: .5em;
    font-weight: 100;
}

main p {
    font-size: 1.3em;
}

@media only screen and (max-width: 600px) {
    .home-container {
        margin: 8em 0;
        align-items: center;
        justify-content: center;
    }
    .home-container h1 {
        font-size: 2em;
        display: flex;
        flex-direction: column;
    }
    .home-container p {
        font-size: 1em;
        width: 20em;
    }
}