nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav > div {
    margin: 3em 5em;
}

nav a {
    color: var(--black);
    font-size: large;
    font-weight: bold;
    padding: .5em;
}

nav a:hover {
    background-color: var(--strong);
    border-radius: 2em;
    transition: .5s;
}

@media only screen and (max-width: 600px) {
    nav {
        flex-direction: row;
        height: auto;
    }
    nav > div {
        margin: 2em ;
    }
}