section {
    margin: 1em;
    display: grid;
    grid-template-columns: .3fr .7fr;
    grid-template-rows: .2fr .8fr;
    grid-template-areas: 
    "user-avatar user-info"
    "user-repos user-repos";
    gap: 1em;
}

.user-info {
    grid-area: user-info;
    background-color: var(--medium);
    border-radius: 2em;
    padding: 2em;
}

.user-avatar {
    grid-area: user-avatar;
}

.user-repos {
    grid-area: user-repos;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em 5em;
    margin: 1.5em;
}

.user-avatar img {
    border-radius: 5em;
    width: 10em;
    margin-left: 4em;
}

.user-info h2 small {
    font-weight: 100;
    margin-left: .5em;
    font-size: small;
}

.user-repos div {
    display: grid;
    grid-template-columns: 1fr;
    gap: .5em 0;
    background-color: var(--medium);
    padding: 1.5em;
    border-radius: 2em;
}

.user-repos div p {
    min-height: 1.4em;
}

.user-repos div a {
    background-color: var(--strong);
    text-align: center;
    padding: .3em;
    border-radius: 2em;
    color: var(--black);
}

.user-repos div h5 {
    font-size: 1em;
}

@media only screen and (max-width: 600px) {
    section {
        grid-template-columns: .2fr .8fr;
        grid-template-rows: .1fr .9fr;
    }
    .user-info h2  {
        margin-left: .5em;
        font-size: large;
    }
    .user-avatar img {
        width: 5em;
    }
    .user-repos {
        grid-template-columns: 1fr;
        gap: 1em
    }
    .user-repos div {
        padding: 1em;
    }
}